#img1{
    height: 250px;
    width: 250px;
    margin-left: 90px;
}

#img2{
    height: 250px;
    width: 250px;
    margin-left: 200px;
}

#img3{
    height: 250px;
    width: 250px;
    margin-left: 200px;
}

img:hover{
    border: 5px solid red;
    min-width: 300px;
    min-height: 300px;
}