#div1{
    position: static;
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

#div2{
    position: relative;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    top: 100px;
    left: 250px;
}

#div3{
    position: absolute;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    top: 100px;
    left: 250px;
}